@keyframes loading {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.LoadingWrap{
    width : 100vw;
    height : 100vh;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    background-color : #FF5A5C;
}
.LoadingWrap .LoadingLogo{
    color : #fff;
    font-size : 28px;
    font-weight : 700;
    line-height : 1em;
    animation: loading 1s linear;
}