@charset "utf-8";
.searchBar_wrap {
  position: relative;
  width: calc(100% - 40px);
  height: 45px;
  margin: 25px auto 0 auto;
  max-width: 768px;
}
.searchBar_wrap .searchBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  padding-left: 63px;
  border-radius: 5px;
  font-size: 14px;
  color: #666;
  border: 1px solid #f24e75;
} /*검색창*/
.searchBar_wrap .searchBar::placeholder {
  color: #9f9f9f;
}
.searchBar_wrap .searchBar:focus {
  outline: none;
}
.searchBar_wrap .back_icon {
  position: absolute;
  top: 12px;
  left: 10px;
  cursor: pointer;
  color: #292929;
}
.searchBar_wrap .searchBar_icon {
  position: absolute;
  top: 12px;
  left: 38px;
  color: #9f9f9f;
}
.SearchPage .searchBar_wrap {
  margin-top: 55px;
}
.searchBar_wrap .close_icon {
  position: absolute;
  top: 12px;
  right: 14px;
  cursor: pointer;
  color: #9f9f9f;
}
.Home .searchBar_wrap .searchBar {
  padding-left: 40px;
}
.Home .searchBar_wrap .searchBar_icon {
  left: 14px;
}
.Home .searchBar_wrap .back_icon {
  display: none;
}
